/*css minimal reset*/

/* Inherit box-sizing to enable easier component styling */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}

/* Allow percentage-based heights in the application */
html,
body {
    height: 100%;
}

/* Improve media defaults */
img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    /* Ensure aspect ratio is maintained */
    display: block;
    /* Remove extra space below images */
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*END css minimal reset*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(62, 60, 60);
    list-style: none;
    padding: 10px;
    margin: 0;
    font-size: 30px;
}

nav a {
    color: rgb(7, 7, 7);
    font-weight: 500;
    text-decoration: none;
}
#s1 {
    display: flex;
    background-color: rgb(100, 100, 100);
    min-height: 20vh;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}
h1 {
    text-align: center;
    background-color: rgb(100, 100, 100);
    font-family: 'Arial', sans-serif;
    padding: 10px;
    font-size: 100px;
}
h2{
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding-top: 50px;
    text-align: center;
}
h2 a {
    color: rgb(7, 7, 7);
    font-weight: 500;
    text-decoration: none;
}