@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
/*css minimal reset*/

/* Inherit box-sizing to enable easier component styling */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}

/* Allow percentage-based heights in the application */
html,
body {
    height: 100%;
}

/* Improve media defaults */
img,
picture,
svg,
video,
canvas {
    max-width: 100%;
    height: auto;
    /* Ensure aspect ratio is maintained */
    display: block;
    /* Remove extra space below images */
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*END css minimal reset*/
body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    min-height: 100vh;
    color: white;
}
nav {
    background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%);
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 15px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}